/*Added a new font via google fonts.*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto&family=Roboto+Slab&display=swap');

@font-face {
    font-family: 'Wisdom Script Regular';
    font-style: normal;
    font-weight: normal;
    src: url('../font/WisdomScriptAJ.woff') format('woff');
}

/*These variable are designed to help simplify the use of  attributes*/
:root {
    --font: 'Roboto Slab', serif;
    --font-headings: 'Montserrat', sans-serif;
    --yell: #fed136;
    --lightgrey: #f7f7f7;
    --gray: #777777;

}

/*--GENERAL FORMATTING FOR THE PAGE--*/

/* ------ For the body and the html ------ */
html, body {
    font-family: var(--font);
    font-size: 16px;
    margin: 0;
    padding: 0;
    background-color: black;

}

/*Remove decorations from lists*/
li a {
    text-decoration: none;
    color: white;
}

h1, h2, h3, h4 {
    font-family: var(--font-headings);
}

/*General font setting for h2*/
h2 {
    font-size: 75px;
}

/*General font setting for h2*/
h3 {
    font-size: 40px;

}

/*general setting for btn*/
.btn {
    display: inline-block;
    border-radius: 3px;
    background-color: var(--yell);
    height: 65px;
    width: 240px;
    line-height: 65px;

}

/*General settings for links*/
a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-family:var(--font-headings)
}

/*changed the font for all paragraph*/
p {
    font-family: var(--font);
    font-size: .8rem;
    font-weight: bold;
    color:var(--gray);
}

/*apply radius to all inputs*/
input,textarea{
    border-radius:2px;
    font-family:var(--font-headings);
    font-weight: bold;
}
/***********************HEADER*******************/
/*Added a background image to the header*/
header {
    background-image: url("../img/bg_header.png");
    background-size: cover;
    height: 50rem;
}

/*changed the color of the h2 and h3 in the hero section to white*/
header div#hero h2, header div#hero h3 {
    color: white;
}

/*changed the h1 font */
header h1 {
    font-family: 'Wisdom Script Regular';
    color: var(--yell);
}

/*display contents of th header top to inline-block;*/
header#top {
    display: inline-block;

}

/*Adjusted my h1 logo to the left and added a padding and removed the margin*/
header div#logo h1 {
    Float: left;
    margin: 0;
    padding: 10px;
}

/*Display navigation inline-block*/
header nav {
    float: right;
}

/*Display navigation inline-block*/
header nav ul {
    margin: 0;
    padding: 0 !important;
}

/*Display navigation inline-block*/
header nav ul li {
    display: inline-block;

}

/*Added a padding on the li*/
header nav ul li {
    padding: 10px;

}

/*Display settings for the hero div*/
div#hero {
    padding: 10rem !important;
    text-align: center;

}

/*************Services*************/
/*aligned the content too the center*/
#services {
    text-align: center;
    background-color:white;
}

#three_servs {
    display: flex;

}


/*************Portfolio*************/
/*aligned the content too the center*/
section#portfolio {
    text-align: center;
    background-color: var(--lightgrey);
}

div#six_ports {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#six_ports > div {
    width: 30%;

}

#six_ports div {
    width: 290px;
    height: 400px;
    box-shadow: 1px 1px 5px 1px lightgrey;

}

#six_ports img {
    height: 300px;
    width: 290px;
}

/*************Our Team*************/
/*aligned the content too the center*/
#aboutUs {
    background-color:white;
    text-align: center;
}

#three_abouts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

#three_abouts div .profile {
    height: 220px;
    width: 220px;
    border-radius: 50%;
}

/*************Our Team*************/
/*aligned the content too the center*/
#partners {
    padding:1rem;
    text-align: center;
    background-color: var(--lightgrey);
}

#partners img {
    margin: 10px;
}

/*************Our Team*************/
/*aligned the content too the center*/

section#contact{
    color: white;
    text-align: center;
    background-image: url("../img/map_contact.png");
    background-size: cover;

}

#contact > div {
    display: flex;
    justify-content: center;
}

#boxes {
    display: flex;

}

#left {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

#left input {
    padding:.7rem;
    margin: 1rem;
    width:100%;
}

#right {
    display: flex;
    padding: 1rem;
}

footer{
    background-color:white;
    margin-top:7rem;
    display: flex;
    justify-content: space-evenly;
    color:var(--gray);

}
footer div{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}
#social img{
    margin:.4rem;
}