/*Added a new font via google fonts.*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,100&display=swap');

/*Adjusted font family and size */
* {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
}

/*Added a background color , a margin and a border*/
div {
    background-color: #71e8c1;
    border: 15px solid #c8c8c8;
    margin: 50px;
    width: 500px;
    box-shadow: 1px 1px;
}

/*change the color and added a width to the h2*/
h2 {
    background-color: #063cc1;
    border: 1px solid #cb0707;
    width: 400px;
}

/*adjusted the width added,added visible border an background-color*/
.para1 {
    background-color: #c1b106;
    border: 1px solid #c8c8c8;
    width: 500px;
    padding: 15px;
}

/*adjusted the width added,added visible border an background-color*/
.para2 {
    background-color: #c12506;
    border: 1px solid #c8c8c8;
    width: 500px;
    padding: 15px;
    margin: 15px;

}

/*adjusted the box class size*/
.box {
    width: 600px;
}