@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;1,100;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');


//  colors :
$primary : rgb(141, 40, 22);
$light: #aea6a6;
$extra-light:#AEA6A6;
$dark: #292929;
$dark-mid:#454545;
$light-mid:#949494;


//Font
$font:'Montserrat', sans-serif;
$font-small:'Crimson Text', serif;

//border
$border:3px;


  $desktop: 840px; //breakpoint for desktop view

  @mixin desktop {

    // creating a desktop view
    @media (min-width: #{$desktop}) {
      @content;
    }
  }
