@import '../../node_modules/normalize-scss/sass/normalize';
@import '_variables.scss';

//General Settings

//set background color and text of project
body {
  background-color: $dark;
  color: $extra-light;
  font-family: $font;
  margin-left:15%;
  margin-right:15%;
  margin-top:10%;
}

//aligned the logo and the tile and set a gap between them
div#logo {
  display: flex;
  grid-gap:1rem;
}

//displayed the footer using grid
footer {
  display: grid;
  grid-template-columns:1fr 1fr;
}

//adding a padding to each of my inputs
.fill {
  padding: 10px;
}

//removed the margin and padding from my h1
h1 {
  margin: 0;
  padding: 0;
}

#logo img {
  height: 40px;
  width: 45px;

}

div#contents {
  display: flex;
  flex-flow: column wrap;
  flex-direction:column;
}

#text-body p {
  width: 70%;
  height: 70%;
}

form#form_container {
  display: grid;
  align-self: center;
  grid-template-columns:1fr 1fr;
  grid-gap: 1rem;

}

#message {
  grid-column: 1 / span 2;
  border-radius: $border;
  background-color: $dark;
}

input {
  border: 1px solid $light;
  background-color: $dark;
  border-radius: $border;
}

input.btn {
  display: grid;
  background-color: $light;
  border-radius: $border;
  justify-self: start;
  color: white;
  height: 41px;
  width: 135px;
  border: none;

  &:hover {
    background-color: $dark-mid;
  }
}
