/*Added a new font via google fonts.*/
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Open+Sans:ital,wght@0,300;1,300&display=swap');

/*These variable are designed to help simplify the use of  attributes*/
/*TODO add this to basic css template*/
:root {
    --font: 'Open Sans', sans-serif;
    --font-headings: 'Abel', sans-serif;
    --dark: rgb(37, 37, 37);
    --light: lightgrey;
    --bg-color : #F2F1F0;
}

/*--GENERAL FORMATTING FOR THE PAGE--*/

/* ------ For the body and the html ------ */
html{
    display:grid;
    justify-content: center;
    background-color:var(--bg-color);
}

/*setting for the body content*/
body {
    font-family: var(--font);
    font-size: 13px;
    max-width: 960px;
    padding: 0;

}

/*setting for all the h1 content*/
h2{
    font-size:1rem;
}

/*setting for all paragraphs*/
p {

}

/*settings for img*/
.card > img{
    width: 100%;
}

/*****************HEADER***************/
header{
    display:grid;
    grid-template-columns:1fr 2fr 1fr;
    align-content: center;
}

#searchBar{
    display:grid;
    grid-template-columns:1fr 3fr;

}
.search{
    background-color:var(--light);
}

#profileImg{
    display:grid;
    grid-template-columns:1fr 1fr;
}


/********************CARD*****************/

#container{
    margin-top:2rem;
    display:grid;
    grid-template-columns:repeat(4, 1fr);
    grid-gap: 1.5rem;

}

/*adjust card  width padding and background*/
.card {
    max-width:240px;
    margin:0;
    padding:0;
    background-color:white;
    border-radius:3px;
    box-sizing: content-box;
}
/*Adjusted the different card heights*/
.man{
    height:435px;
}

.horse{
      height:504px;
}
.redhead, .blonde{
    height:345px
}

/*adding images to the cards;*/
div.stars a.star-green{
    display: inline-block;
    background-image:url(../img/icons/star_green.png);
}
a.star-grey{
    display: inline-block;
    background-image:url(../img/icons/star_grey.png);
}