/*Added a new font via google fonts.*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,100&display=swap');

/*Adjusted font family and size */
* {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

/*Added a margin to the social div*/
.social {
    margin: 0 auto;
    width: 366px;
}

/*display all links in .social  inline-block*/
.social a {
    display: inline-block;
    width: 84px;
    height: 84px;
    margin: 0 6px 0 0;
    border: none;
    box-shadow: 1px 1px 1px;
    background-image: url(../img/social-sprite.png);
    transition: background-position .15s ease-out;
    box-sizing: content-box;
}


.social a:last-child {
    margin-right: 0;
}


/*Adjusted image for facebook icon*/
.facebook {
    background-position: left 0 bottom 0;
}
/*Adjusted image for twitter icon*/
.twitter {
    background-position: left -672px bottom 0;
}
/*Adjusted image for youtube icon*/
.youtube {
    background-position: left -840px  bottom 0;
}
/*Adjusted image for linkedin icon*/
.linkedin {
    background-position: left -336px bottom 0;
}

/*********************Added a hover to each bth*****************/

/*Added hover for facebook icon*/

.facebook:hover {
    background-position: left 0 bottom -84px;
}
.twitter:hover {
    background-position: right -168px bottom -84px;
}
.youtube:hover {
    background-position: right 0 bottom -84px;
}
.linkedin:hover {
    background-position: left -336px bottom -84px;
}