/*Added a new font via google fonts.*/
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Open+Sans:ital,wght@0,300;1,300&display=swap');

/*These variable are designed to help simplify the use of  attributes*/
/*TODO add this to basic css template*/
:root {
    --font: 'Open Sans', sans-serif;
    --font-headings: 'Abel', sans-serif;
    --dark: rgb(37, 37, 37);
    --light: lightgrey;
    --blue: #7e98a7;
    --babyblue: #5d879c;
    --darkblue: #5e7481;
}

/*--GENERAL FORMATTING FOR THE PAGE--*/

/* ------ For the body and the html ------ */
html, body {
    font-family: var(--font);
    font-size: 16px;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-headings);
}

/*remove the styling for lists*/

li {
    list-style-type: none;
}

/*Adjusted the color of the default color of the link to be in blue with no decoration*/
a {
    color: var(--blue);
    text-decoration: none;
}

hr {
    margin: 0;
    text-align: left;
    width: 180px;
}

/*Preset class setting to adjust background and text color*/
.bg-light {

    background: rgb(233, 233, 233);
    color: rgb(37, 37, 37);
}

.bg-dark {
    background: rgb(37, 37, 37);
    color: lightgrey;
}

.bg-black {
    background: #000;
}

/*----------H E A D E R --------*/
header {
    border: 1px solid blue;
    background-image: url("../img/bg-header.jpg");
    background-size: cover, auto;
    background-position: center;
    padding-bottom: 10px;

}

/*--------TOP BAR-------*/
/*Added background color to the #top section*/
#top {
    background-color: var(--dark);
}

/*added a padding to the #top, displayed inline-block;*/
#top div {
    margin: 10px;
    display: inline-block;
    /*position: relative;*/
    line-height: 1rem;
}

/*Adjusted the size of the link text and aligned the center*/
#top a {
    font-size: .6rem;
    color: var(--light);
}


/*Moved the social sprites to the right*/
#social {
    float: right;
}

/*------ HEADER SPRITES------*/

/*display all links in .social  inline-block*/
#social a {
    display: inline-block;
    width: 84px;
    height: 84px;
    margin: 0 6px 0 0;
    border: none;
    box-shadow: 1px 1px 1px;
    background-image: url(../img/social-sprite.png);
    transition: background-position .15s ease-out;
    box-sizing: content-box;
    zoom: 0.21;
}

#social a:last-child {
    margin-right: 0;
}


/*Adjusted image for facebook icon*/
.facebook {
    background-position: left 0 bottom 0;
}

/*Adjusted image for twitter icon*/
.twitter {
    background-position: left -672px bottom 0;
}

/*Adjusted image for youtube icon*/
.youtube {
    background-position: left -840px bottom 0;
}

/*Adjusted image for linkedin icon*/
.linkedin {
    background-position: left -336px bottom 0;
}

/*********************Added a hover to each bth*****************/

/*Added hover for facebook icon*/

.facebook:hover {
    background-position: left 0 bottom -84px;
}

.twitter:hover {
    background-position: right -168px bottom -84px;
}

.youtube:hover {
    background-position: right 0 bottom -84px;
}

.linkedin:hover {
    background-position: left -336px bottom -84px;
}

/*------- HEADER IMAGE AND NAV--------*/

div#logo {
    width: 30%;
    display: inline-block;
    /*border: 1px solid blue;*/
}

#logo img {
    float: left;
    height: 70px;
    width: 70px;
    border: 1px solid var(--light);
    padding: 3px;
    background: var(--dark);
    margin-right: 10px;
}

#logo h1 {
    font-size: 1rem;
    color: var(--light);
}

/*NAVIGATION*/
/*todo move the nav bar all the way to the right*/
/*added a background and a border to the nav bar*/
/*the alignment was adjusted here*/
header nav {
    display: inline-block;
    background: var(--light);
    color: var(--dark);
    border-radius: 3px;
}

/*Display navigation inline-block*/
header nav ul a li {
    display: inline-block;
    line-height: 1rem;
}

/*The NAVIGATION ul has be asked to inherit its color from the parent*/
header nav ul a {
    color: inherit;
}

/*Added a hover effect to the a*/
header nav ul a:hover {
    color: var(--darkblue) !important;
}

/*adjusted the size of the content in the ul*/
header nav ul {
    margin: 0;
    padding: .3rem 3rem;
}

/*Main Section*/

main section#contact {
    margin-left: 100px;
}

/*adjusted the font size and the padding of the h1.display-1*/
main section div#contact-address h1.display-1 {
    font-size: 2rem;
    margin: 0;
    padding-top: 100px;
}

/*adjusted the size of the paragraph*/
#contact div p {
    font-size: .7rem;
}

/*applied a box shadow to the map*/
section#contact-map {
    box-shadow: 3px 3px 10px;
}

/*-------------FORM SECTION-----------*/
#contact-form h1 {
    background-color: var(--babyblue);
    color: var(--light);

}

#contact-form > div {
    font-size: .8rem;
    /*border: 1px solid blue;*/
}

#form-container {
    margin: 50px;
    text-align: center;
    border: 1px solid red;
}


/* -- FOOTER -- */
footer {
    text-align: center;
    font-size: .8rem;
    height: 1rem;
    line-height: 1rem;
}


