body {
    color: #444;
    font-family: sans-serif;

}

h1 {
    color: #32CBDD;
}

h2 {
    color: #32CBDD;
}

a {
    color: #028DB6;
}
abbr[title] {
    border-bottom: none !important;
    cursor: inherit !important;
    text-decoration: none !important;
}