/*modify the body and div color, background and text*/
body, div {
    color: black;
    font-family: sans-serif;
    background-color: lightgray;
}

/*paragraphs in container red*/
#container p {
    color: red;
}


/*paragraphs direct children of container*/
#container > p {

    font-weight: bold;
}

/*paragraph after container*/
#container > h2 + p {
    color: green;
}

/*paragraphs directly following a h2 in uppercase*/
h2 + p {
    text-transform: uppercase;
}

/* change the color of paragraphs with a sibling element of code*/
code ~ p {
    color: pink;
}

/*The div directly children of the body in yellow*/
body > div {
    background-color: yellow;
}


/*Divs that directly follow a level 1 title with a green border*/
h1 + div {
    /*border-color: green;*/
    /*border-style: solid;*/
    border: 1px solid green;
}

