
/*Put all the links in pink*/

 a {
    color:pink;
}
/*add a hover to all the links and modify the font size*/
a:hover{
    font-size:1.5rem;
    color:yellow;
}
/*change the color of the links visited*/
a:visited{
    color:pink;
}
/*change the background-color of paragraphs on hover*/
p:hover{
    background-color:red;
}

/*change the size of the first letter*/
p::first-letter {
    font-size: 1.8rem;

}
/*highlight selection */
::selection {
    background-color: yellow;
    text-decoration:underline;

}
/*add a margin to the h1*/
h1:before{
    content:" ";
    height: 16px;
    width: 16px;
    display: inline-block;
    margin-right: 6px;
    background-image:url("https://bitsofco.de/content/images/2017/03/icon_256.png");
    background-size:cover;
}

