/*Added a new font via google fonts.*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,100&display=swap');

/*Adjusted font family and size */
* {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;

}

.bg-light {
    background: rgb(233, 233, 233);
    color: rgb(37, 37, 37);
}

.bg-dark {
    background: rgb(37, 37, 37);
    color: lightgrey;
}

.bg-black {
    background: #000;
}

header {
    background-image: url("../img/bg-header.jpg");
    text-align: center;
}

nav {
    background-color: #d3d3d3;
    border:solid 1px;
    width:50%;
    margin:auto;
    border-radius: 5px 5px;
    text-align: center;

}

ul li {
    display: inline-block;
    padding: 6px;
    font-size: 16px;



}

#section {
    display: inline-block;
    padding: 10px;
}

#welcome {
    text-align:center;
    margin-top: 0;
    height:400px;
    /*vertical-align: middle;*/
    line-height:50px;
}