/*Adjusted the wrapper by displying the content in grid*/
.wrapper{
    width: 90%;
    display:grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-gap: 1rem;
    margin:auto auto;
}

header{
    grid-column:1 / span 3;
    grid-row: 1 /span 1;
    margin:0;
    padding: 0;
}

footer{
    grid-column:1 / span 3;
}
